[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-wrapper = {editable = true,path = "."}
opencv-python-headless = "*"

[dev-packages]
sphinx-autodoc-typehints = "*"
Sphinx = "*"
pytest = "*"
pytest-mock = "*"
sphinx-rtd-theme = "*"
